<mat-card>
  <mat-grid-list cols="4">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <form>
        <mat-form-field>
          <input matInput placeholder="Title" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Price" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Quantity" />
        </mat-form-field>
        <mat-form-field>
          <textarea rows="5" matInput placeholder="Description"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput />
          <input type="file" id="fileInput" name="fileInput" accept="image/*" multiple />
        </mat-form-field>
        <button mat-raised-button color="primary">Upload</button>
        <br />
        <button mat-raised-button color="primary" type="submit"><mat-icon>done</mat-icon>Create New</button>
        <div class="clearfix"></div>
      </form>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  n
</mat-card>
