<div class="outer">
  <h2 mat-dialog-title>{{ data.title }}<button mat-dialog-close="false">×</button></h2>
</div>
<mat-dialog-content>
  <mat-grid-list cols="8" rowHeight="150px">
    <mat-grid-tile [rowspan]="4" [colspan]="4">
      <img src="{{ data.image }}" alt="{{ data.title }}" style="width: 100%" />
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="text-inside-grid">ID:</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
      <p>{{ data.id }}</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="text-inside-grid">Description:</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
      <p>{{ data.description }}</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="text-inside-grid">Price:</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
      <p>{{ data.price }}</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="text-inside-grid">Quantity:</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
      <p>{{ data.quantity }}</p>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
